<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="alternate" type="application/atom+xml" href="{{ 'feed.xml' | relative_url }}" title="{{ site.title }}">
    <meta name="google-site-verification" content="RaZJj9or_SIUFsNESrMxHsMCS5sg9pQ8qbNBDghZV80" />
</head>
<body>
    {% if page.url != '/' %}
    <header>
        <div class="container">
            <a style="text-decoration: none;" href="{{ '/' | relative_url }}">🏠 {{ site.title }}</a>
        </div>
    </header>
    {% endif %}
    {{ content }}
</body>
</html>
